
<div class="qualifications">
  <h3 style="background-color: #555;">Skills</h3>
  <hr>
  <ul>
    <li>Angular 5,6,7</li>
    <li> HTML5</li>
    <li> CSS3</li>
    <li>JavaScript</li>
    <li> Atom Editor </li>
    <li> Github </li>
    <li> TypeScript </li>
    <li> Some NPM + Node </li>
   <li>Bootstrap</li>
   <li>Angular material</li>

  </ul>
</div>

<div class="about">
  <h3 style="background-color: #2c7;">Who am I?</h3>
  <hr>
    <p>2 years of extensive experience mainly on Angular 5,6,7 , Typescript ,Html,css & Bootstrap.
Ability in learning new concepts quickly, working well under pressure and communicating ideas .
Adeptness in handling multiple priorities, with a genuine interest in personal and professional development
along with ability to work independently with minimum supervision in team environment
</p>

</div>
