<div class="work">
  <div class="projects-bar">
    <h1>Projects</h1>
  </div>

  <div class="projects">
    <div class="captions" style="width: 480px; height: 140px;">
      <p>Software Developer July 2019 - Current EvolutionCo Digital & Interactive Consultancy Private Limited | Bangalore, India
        #project 4 Name : Tata IOT, Tata SDWAN Platform : Angular 7 , Type Script, HTML , CSS , Bootstrap Key Responsibility
        : Design User Interface , Discussing requirement for end to end development of web application with full ownership
        of features developed. Development Methodology : Agile software development, Git</p>
    </div>
  </div>

  <div class="projects">
    <div class="captions" style="width: 480px; height: 140px;">
      <p>Freelance for a counsultancy | Bangalore, India #project 3 Name : Wipro Embark Platform : Angular 7 , Type Script,
        HTML , CSS , Bootstrap Key Responsibility : Design User Interface , Discussing requirement with business team, and
        writing code to communicate from apis to match all new rules to client side . Development Methodology : Agile software
        development, Git .</p>
    </div>
  </div>

  <div class="projects">
    <div class="captions" style="width: 480px; height: 140px;">
      <p>Gizbel | Bengaluru, India #project 2 Name : Asset Management system , Sabic Platform : Angular 6 , Type Script, HTML
        ,Ngx-Bootstrap,Material Angular, CSS , Bootstrap Key Responsibility : Work closely with software development & testing
        team members to design & develop robust solution to meet client requirement for functionality , scalability & performance
        . Development Methodology : Agile software development, Git</p>
    </div>
  </div>

  <div class="projects">
    <div class="captions" style="width: 480px; height: 140px;">
      <p> Software Developer September 2017 - September 2018 Madhulata Infotech Private Limited | New Delhi, India Project #1
        Name : shriresume.com(resume builder) Platform : Angular 5 , Type Script , Html , css Key Responsibility : Design
        User Interface , Populate data from api to client side Development Methodology : Git</p>
    </div>
  </div>



</div>